<div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 id="about" class="title text-center">Quem <span>Somos?</span></h1>
                <p class="lead text-center">Somos um time apaixonado de fotográfos, artistas e cinegrafistas.</p>
                <div class="space"></div>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-caret-right pr-10 text-colored"></i> Fotografia de eventos</li>
                            <li><i class="fa fa-caret-right pr-10 text-colored"></i> Produção completa de casamentos</li>
                            <li><i class="fa fa-caret-right pr-10 text-colored"></i> Books fotográficos</li>
                            <li><i class="fa fa-caret-right pr-10 text-colored"></i> Eventos de moda</li>
                            <li><i class="fa fa-caret-right pr-10 text-colored"></i> Drones aéreos</li>
                            <li><i class="fa fa-caret-right pr-10 text-colored"></i> Fotos e vídeos 360</li>
                            <li><i class="fa fa-caret-right pr-10 text-colored"></i> Tour Virtual</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <p>Nosso sonho é eternizar cada clique. Cada frame de nossas máquinas.</p>
                        <p>Entedemos a importância de nosso papel na realização de seu sonho</p>
                        <p>O universo consipira a nosso favor.</p>
                        <p>A vida é feita de detalhes!</p>
                        <p>E é isso que nos interessa</p>
                        <p>Somos movidos pela emoção e trabalhamos com o que mais amamos! Pessoas e imagens.</p>
                        <p>Seja qual for o lugar ou situação, nos convide. Estaremos lá.</p>
                        <p><strong>Conte conosco!</strong></p>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
    </div>
</div>
