<footer id="footer">
    <div class="footer section">
        <div class="container">
            <h1 class="title text-center" id="contact">Contato</h1>
            <div class="space"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="footer-content">
                        <p class="large">Ligue-nos ou venha bater um papo com a gente!</p>
                        <ul class="list-icons">
                            <li><i class="fa fa-map-marker pr-10"></i> Rua Caratiá, 59 - BH / MG</li>
                            <li><i class="fa fa-phone pr-10"></i> (31) 9932-9819</li>
                            <li><i class="fa fa-envelope-o pr-10"></i> contato@estudiolapa.com</li>
                        </ul>
                        <ul class="social-links">
                            <li class="facebook"><a target="_blank" href="https://www.facebook.com/pages/HtmlCoder/714570988650168"><i class="fa fa-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="footer-content">
                        <form role="form" id="footer-form" action="/" method="POST">
                            {% csrf_token %}
                            <div class="form-group has-feedback">
                                <label class="sr-only" for="name">Nome</label>
                                <input type="text" class="form-control" id="name2" placeholder="Name" name="name" required>
                                <i class="fa fa-user form-control-feedback"></i>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="sr-only" for="email">E-mail</label>
                                <input type="email" class="form-control" id="email2" placeholder="Enter email" name="email" required>
                                <i class="fa fa-envelope form-control-feedback"></i>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="sr-only" for="message">Mensagem</label>
                                <textarea class="form-control" rows="8" id="message2" placeholder="Message" name="message" required></textarea>
                                <i class="fa fa-pencil form-control-feedback"></i>
                            </div>
                            <input type="submit" value="Enviar" class="btn btn-default">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">© 2015 Estúdio Lapa.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
